<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>ERROR</title>
    {%endif%}
    {% endblock title %}
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %}

    {% endblock head %}
</head>
<body>
{% block menu %}
<div class="header">
    <div class="header_content">
        <nav class="nav">
            <ul class="menu">
                <li class="menu__list"><a href="#"></a>Отчеты</li>
                <li class="menu__list"><a href="{{ url_for('smp') }}">СМП</a></li>
                <li class="menu__list"><a href="{{ url_for('up_down') }}">Сравнение</a></li>
                <li class="menu__list"><a href="{{ url_for('tst') }}">Something</a></li>
                <li class="menu__list"><a href="{{ url_for('regions') }}">Регионы</a></li>
            </ul>
        </nav>
    </div>
</div>
{% endblock menu %}
<div class="wrapper">

    {% block content %}

    {% endblock content %}
</div>
</body>
</html>