<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>ERROR</title>
    {%endif%}
    {% endblock title %}
    <title>{{ title }}</title>

</head>
<body>
<div class="wrapper">
    {% block menu %}
    <header class="header">
        <ul>
            <li><a href="#"></a>Отчеты</li>
            <li><a href="{{ url_for('smp') }}">СМП</a></li>
            <li><a href="#"></a>Something</li>
        </ul>
    </header>
    {% endblock menu %}

    {% block content %}

    {% endblock content %}
</div>
</body>
</html>