{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/regions.css') }}">
{% endblock head %}

{% block content %}


<div class="container">
    <div class="ЦФО">
        <!--        # TODO: Сделать что бы в заголовок подставлялось из базы данных по ID-->
        <!--        # TODO: Из TU или из District?-->
        {% for region in regions %}
        {% if region.id == 91 %} <!-- Выбор округа -->
        <H3>{{ region.name_ru }}</H3>
        {% endif %}
        {% endfor %}

        {% for region in regions %}
        {% if region.district_id == 1 %}
        <ul>
            <li>{{ region.name_ru }}</li>
        </ul>
        {% endif %}
        {% endfor %}

    </div>
    <div class="СЗФО">
        {% for region in regions %}
        {% if region.id == 92 %} <!-- Выбор округа -->
        <H3>{{ region.name_ru }}</H3>
        {% endif %}
        {% endfor %}

        {% for region in regions %}
        {% if region.district_id == 2 %}
        <ul>
            <li>{{ region.name_ru }}</li>
        </ul>
        {% endif %}
        {% endfor %}


    </div>
    <div class="ЮФО">
        {% for region in regions %}
        {% if region.id == 93 %} <!-- Выбор округа -->
        <H3>{{ region.name_ru }}</H3>
        {% endif %}
        {% endfor %}

        {% for region in regions %}
        {% if region.district_id == 3 %}
        <ul>
            <li>{{ region.name_ru }}</li>
        </ul>
        {% endif %}
        {% endfor %}


    </div>
    <div class="СКФО">
        {% for region in regions %}
        {% if region.id == 94 %} <!-- Выбор округа -->
        <H3>{{ region.name_ru }}</H3>
        {% endif %}
        {% endfor %}

        {% for region in regions %}
        {% if region.district_id == 4 %}
        <ul>
            <li>{{ region.name_ru }}</li>
        </ul>
        {% endif %}
        {% endfor %}


    </div>
    <div class="ПФО">
        {% for region in regions %}
        {% if region.id == 95 %} <!-- Выбор округа -->
        <H3>{{ region.name_ru }}</H3>
        {% endif %}
        {% endfor %}

        {% for region in regions %}
        {% if region.district_id == 5 %}
        <ul>
            <li>{{ region.name_ru }}</li>
        </ul>
        {% endif %}
        {% endfor %}

    </div>
    <div class="УФО">
        {% for region in regions %}
        {% if region.id == 96 %} <!-- Выбор округа -->
        <H3>{{ region.name_ru }}</H3>
        {% endif %}
        {% endfor %}

        {% for region in regions %}
        {% if region.district_id == 6 %}
        <ul>
            <li>{{ region.name_ru }}</li>
        </ul>
        {% endif %}
        {% endfor %}
    </div>
    <div class="СФО">
        {% for region in regions %}
        {% if region.id == 97 %} <!-- Выбор округа -->
        <H3>{{ region.name_ru }}</H3>
        {% endif %}
        {% endfor %}

        {% for region in regions %}
        {% if region.district_id == 7 %}
        <ul>
            <li>{{ region.name_ru }}</li>
        </ul>
        {% endif %}
        {% endfor %}
    </div>
    <div class="ДФО">
        {% for region in regions %}
        {% if region.id == 98 %} <!-- Выбор округа -->
        <H3>{{ region.name_ru }}</H3>
        {% endif %}
        {% endfor %}

        {% for region in regions %}
        {% if region.district_id == 8 %}
        <ul>
            <li>{{ region.name_ru }}</li>
        </ul>
        {% endif %}
        {% endfor %}
    </div>

</div>

{% endblock content %}