<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="regions.css">
</head>
<body>
<div class="container">
    <div class="ЦФО">
        <table>
            <caption><h2>ЦФО</h2></caption>
            <tr>
                <th></th>
            </tr>

            <tr>
                <td>1</td>
                <td>Белгородская область</td>
            </tr>

            <tr>
                <td>2</td>
                <td>Брянская область</td>
            </tr>

            <tr>
                <td>3</td>
                <td>Владимирская область</td>
            </tr>

    </div>

    <div class="СЗФО">
        <table>
            <caption><h2>СЗФО</h2></caption>
            <tr>
                <td>19</td>
                <td>Республика Карелия</td>
            </tr>
            <tr>
                <td>20</td>
                <td>Республика Коми</td>
            </tr>
            <tr>
                <td>21</td>
                <td>Архангельская область</td>
            </tr>
            <tr>
                <td>22</td>
                <td>Ненецкий автономный окру</td>
            </tr>
            <tr>
                <td>22</td>
                <td>Ненецкий автономный окру</td>
            </tr>
        </table>
    </div>
    <div class="ЮФО">
        /**//*adadad*/as*d/ad/as*d/as*d
        /**//*adadad*/as*d/ad/as*d/as*d
        /**//*adadad*/as*d/ad/as*d/as*d
        /**//*adadad*/as*d/ad/as*d/as*d
        /**//*adadad*/as*d/ad/as*d/as*d/
        **//*adadad*/as*d/ad/as*d/as*d


    </div>
    <div class="СКФО">
        ADAadadADAadadADAadadADAadad
        dadADAadadADAadadADAadadADAad
        dADAadadADAadadADAadadADAada
        DAadadADAadadADAadadADAadadAD
        adADAadadADAadadADAadad
    </div>
    <div class="ПФО">
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$
    </div>
    <div class="УФО">
        ^^^^^^^^^^^^^^^^^^^^^^
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    </div>
    <div class="СФО">
        **************************
        **************************
        **************************
        **************************
        **************************
        **************************
        **************************
        **************************
        **************************
    </div>
    <div class="ДФО">
        PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP
        PPPPPPPPPPPPPPPPPPPPPPPPPP
        PPPPPPPPPPPPPPPPPPPPPPPPPP
        PPPPPPPPPPPPPPPPPPPPPPPPPP
        PPPPPPPPPPPPPPPPPPPPPPPPPP

    </div>
</div>
</body>
</html>