{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/tst.css') }}">
{% endblock head %}
{% block content %}


<div class="container">
    <div class="name_nz">
        <p class="name_nz"> {{name_nz}}</p>
    </div>
    <div class="input">
        <form action="{{ url_for('tst') }}" method="POST">
            <div class="nz">
                <select name="nz_id">
                    {% for nz_id, nz_name in nod %}
                    <option value="{{ nz_id }}">{{ nz_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class='input_year'>
                <input
                        type="number"
                        name="input_year_map"
                        min="{{min_year}}"
                        max="{{max_year}}" step="1"
                        value="{{ current_year }}"/>
            </div>
            <input
                    type="submit"
                    id="copyButton"
                    value="Ввести">
            <script>document.getElementById("copyButton").addEventListener("click", function() {
    var textToCopy = document.querySelector(".text").innerText;

    var textarea = document.createElement("textarea");
    textarea.value = textToCopy;
    document.body.appendChild(textarea);

    textarea.select();
    document.execCommand("copy");

    document.body.removeChild(textarea);

});




















































































            </script>
        </form>
    </div>
    <div class="map_wrapper">
        <script>
				function updateColor(value, max_mrb, color, tag) {
				               <!--    alert(`Hello! ${value} ${max_mrb} ${color}  ${tag}`);-->
				                 let myElement = document.querySelector(tag);
				                 var percent = value / max_mrb;
				                 myElement.style.backgroundColor = `rgba(${color}, 0, 0, ${percent.toFixed(2)})`;
				               }

        </script>
        <div class="MSK">
            <span class="name" title="г. Москва">МСК</span>
            {% for i in form_2 %}
            {% if i.rg_id == 18 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".MSK"); </script>
            {% endif %}
            {% endfor %}
        </div>

        <div class="Murmansk" title="Мурманская область">
            <span class="name">Мур</span>
            {% for i in form_2 %}
            {% if i.rg_id == 26 %}
            <span class="value">{{ i.value }}</span>
            <script>updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Murmansk");</script>
            {% endif %}
            {% endfor %}
        </div>

        <div class="SPB" title="г. Санкт-Петербург">
            <span class="name">СПБ</span>
            {% for i in form_2 %}
            {% if i.rg_id == 29 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".SPB"); </script>
            {% endif %}
            {% endfor %}
        </div>

        <div class="Karelia" title="Республика Карелия">
            <span class="name">Кар</span>
            {% for i in form_2 %}
            {% if i.rg_id == 19 %}
            <span class="value">{{ i.value }}</span>
            <script>updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Karelia");</script>
            {% endif %}
            {% endfor %}

        </div>
        <div class="Nenets" title="Ненецкий автономный округ">
            <span class="name">Нен</span>
            {% for i in form_2 %}
            {% if i.rg_id == 22 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Nenets"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Len_obl" title="Ленинградская область">
            <span class="name">Лен</span>
            {% for i in form_2 %}
            {% if i.rg_id == 25 %}
            <span class="value">{{ i.value }}</span>
            <script>updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Len_obl");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Novgorod" title="Новгородская область">
            <span class="name">Нов</span>
            {% for i in form_2 %}
            {% if i.rg_id == 27 %}
            <span class="value">{{ i.value }}</span>
            <script>updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Novgorod");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Vologda" title="Вологодская область">
            <span class="name">Вол</span>
            {% for i in form_2 %}
            {% if i.rg_id == 23 %}
            <span class="value">{{ i.value }}</span>
            <script>updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Vologda");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Arkhangelsk" title="Архангельская область">
            <span class="name">Арх</span>
            {% for i in form_2 %}
            {% if i.rg_id == 21 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Arkhangelsk"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Komi" title="Республика Коми">
            <span class="name">Ком</span>
            {% for i in form_2 %}
            {% if i.rg_id == 20 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Komi"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Yamal">
            <span class="name">ЯНАО</span>
            {% for i in form_2 %}
            {% if i.rg_id == 63 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Yamal"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Krasnoyarsk"><span class="name">Красн</span>
            {% for i in form_2 %}
            {% if i.rg_id == 69 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Krasnoyarsk");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Yakutia"><span class="name">Яку</span>
            {% for i in form_2 %}
            {% if i.rg_id == 76 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Yakutia"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Magadan">
            <span class="name">Маг</span>
            {% for i in form_2 %}
            {% if i.rg_id == 82 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Magadan");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Kaliningrad" title="Калининградская область">
            <span class="name">Калин</span>
            {% for i in form_2 %}
            {% if i.rg_id == 24 %}
            <span class="value">{{ i.value }}</span>
            <script>updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Kaliningrad");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Pskov" title="Псковская область">
            <span class="name">Пск</span>
            {% for i in form_2 %}
            {% if i.rg_id == 28 %}
            <span class="value">{{ i.value }}</span>
            <script>updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Pskov");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Tver" title="Тверская область">
            <span class="name">Тве</span>
            {% for i in form_2 %}
            {% if i.rg_id == 15 %}
            <span class="value">{{ i.value }}</span>
            <script>updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Tver");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Yaroslavl" title="Ярославская область">
            <span class="name">Яро</span>
            {% for i in form_2 %}
            {% if i.rg_id == 17 %}
            <span class="value">{{ i.value }}</span>
            <script>updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Yaroslavl");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Ivanovo" title="Ивановская область">
            <span class="name">Ива</span>
            {% for i in form_2 %}
            {% if i.rg_id == 5 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Ivanovo");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Kostroma" title="Костромская область">
            <span class="name">Кос</span>
            {% for i in form_2 %}
            {% if i.rg_id == 7 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Kostroma");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Mariel" title="Республика Марий Эл">
            <span class="name">Мар</span>
            {% for i in form_2 %}
            {% if i.rg_id == 46 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Mariel"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Kirov" title="Кировская область">
            <span class="name">Кир</span>
            {% for i in form_2 %}
            {% if i.rg_id == 52 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Kirov"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Perm" title="Пермский край">
            <span class="name">Пер</span>
            {% for i in form_2 %}
            {% if i.rg_id == 51 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Perm"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Khanty" title="Ханты-Мансийский автономный округ — Югра">
            <span class="name">ХМАО</span>
            {% for i in form_2 %}
            {% if i.rg_id == 62 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Khanty"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Tyumen" title="Тюменская область">
            <span class="name">Тюм</span>
            {% for i in form_2 %}
            {% if i.rg_id == 61 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Tyumen");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Tomsk">
            <span class="name">Том</span>
            {% for i in form_2 %}
            {% if i.rg_id == 74 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Tomsk");  </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Kemerovo">
            <span class="name">Кем</span>
            {% for i in form_2 %}
            {% if i.rg_id == 71 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Kemerovo");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Irkutsk" title="Иркутская область">
            <span class="name">Ирк</span>
            {% for i in form_2 %}
            {% if i.rg_id == 70 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Irkutsk");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Amur" title="Амурская область">
            <span class="name">Амур</span>
            {% for i in form_2 %}
            {% if i.rg_id == 81 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Amur");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Khabarovsk" title="Хабаровский край">
            <span class="name">Хаб</span>
            {% for i in form_2 %}
            {% if i.rg_id == 80 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Khabarovsk"); </script>
            {% endif %}
            {% endfor %}

        </div>
        <div class="Sakhalin" title="Сахалинская область">
            <span class="name">Сах</span>
            {% for i in form_2 %}
            {% if i.rg_id == 83 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Sakhalin"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Smolensk" title="Смоленская область">
            <span class="name">Смол</span>
            {% for i in form_2 %}
            {% if i.rg_id == 13 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Smolensk");  </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Kaluga" title="Калужская область">
            <span class="name">Кал</span>
            {% for i in form_2 %}
            {% if i.rg_id == 6 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Kaluga"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="MO" title="Московская область">
            <span class="name">М.обл</span>
            {% for i in form_2 %} {% if i.rg_id == 10 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".MO"); </script>
            {% endif %} {% endfor %}
        </div>
        <div class="Vladimir" title="Владимирская область">
            <span class="name">Вла</span>
            {% for i in form_2 %}
            {% if i.rg_id == 3 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Vladimir");  </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Nizhny" title="Нижегородская область">
            <span class="name">Ниж</span>
            {% for i in form_2 %}
            {% if i.rg_id == 53 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Nizhny"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Chuvash" title="Чувашская Республика">
            <span class="name">Чув</span>
            {% for i in form_2 %}
            {% if i.rg_id == 50 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Chuvash"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Tatarstan" title="Республика Татарстан">
            <span class="name">Тат</span>
            {% for i in form_2 %}
            {% if i.rg_id == 48 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Tatarstan"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Udmurtia" title="Удмуртская Республика">
            <span class="name">Удм</span>
            {% for i in form_2 %}
            {% if i.rg_id == 49 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Udmurtia"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Sverdlovsk" title="Свердловская область">
            <span class="name">Све</span>
            {% for i in form_2 %}
            {% if i.rg_id == 60 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Sverdlovsk"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Kurgan" title="Курганская область">
            <span class="name">Кур</span>
            {% for i in form_2 %}
            {% if i.rg_id == 59 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Kurgan");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Novosibirsk" title="Новосибирская область">
            <span class="name">Нов</span>
            {% for i in form_2 %} {% if i.rg_id == 72 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Novosibirsk");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Khakassia" title="Республика Хакасия">
            <span class="name">Хак</span>
            {% for i in form_2 %}
            {% if i.rg_id == 66 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Khakassia"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Buryatia" title="Республика Бурятия">
            <span class="name">Бур</span>
            {% for i in form_2 %}
            {% if i.rg_id == 75 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Buryatia");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Jewish" title="Еврейская автономная область">
            <span class="name">ЕАО</span>
            {% for i in form_2 %}
            {% if i.rg_id == 84 %}
            <span class="value"> {{ i.value }} </span>
            <script>updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Jewish");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Brynsk" title="Брянская область">
            <span class="name">Бря</span>
            {% for i in form_2 %}
            {% if i.rg_id == 2 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Brynsk"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Orel" title="Орловская область">
            <span class="name">Орё</span>
            {% for i in form_2 %} {% if i.rg_id == 11 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Orel");</script>
            {% endif %} {% endfor %}
        </div>
        <div class="Tula" title="Тульская область">
            <span class="name">Тул</span>
            {% for i in form_2 %} {% if i.rg_id == 16 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Tula"); </script>
            {% endif %} {% endfor %}
        </div>
        <div class="Ryazan" title="Рязанская область">
            <span class="name">Ряз</span>
            {% for i in form_2 %} {% if i.rg_id == 12 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Ryazan"); </script>
            {% endif %} {% endfor %}
        </div>
        <div class="Mordovia" title="Республика Мордовия">
            <span class="name">Мор</span>
            {% for i in form_2 %} {% if i.rg_id == 47 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Mordovia");</script>
            {% endif %} {% endfor %}
        </div>
        <div class="Ulyanovsk" title="Ульяновская область">
            <span class="name">Уль</span>
            {% for i in form_2 %} {% if i.rg_id == 58 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Ulyanovsk"); </script>
            {% endif %} {% endfor %}
        </div>
        <div class="Samara" title="Самарская область">
            <span class="name">Сам</span>
            {% for i in form_2 %} {% if i.rg_id == 56 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Samara");</script>
            {% endif %} {% endfor %}
        </div>
        <div class="Bashkortostan" title="Республика Башкортостан">
            <span class="name">Баш</span>
            {% for i in form_2 %} {% if i.rg_id == 45 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Bashkortostan");</script>
            {% endif %} {% endfor %}
        </div>
        <div class="Chelyabinsk" title="Челябинская область">
            <span class="name">Чел</span>
            {% for i in form_2 %} {% if i.rg_id == 64 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Chelyabinsk");</script>
            {% endif %} {% endfor %}
        </div>
        <div class="Omsk" title="Омская область">
            <span class="name">Омск</span>
            {% for i in form_2 %} {% if i.rg_id == 73 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Omsk");</script>
            {% endif %} {% endfor %}
        </div>
        <div class="Altai_K" title="Алтайский край">
            <span class="name">Алт</span>
            {% for i in form_2 %} {% if i.rg_id == 68 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Altai_K"); </script>
            {% endif %} {% endfor %}
        </div>
        <div class="Tuva" title="Республика Тыва">
            <span class="name">Тыва</span>
            {% for i in form_2 %} {% if i.rg_id == 66 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Tuva");</script>
            {% endif %} {% endfor %}
        </div>
        <div class="Transbaika" title="Забайкальский край">
            <span class="name">Заб</span>
            {% for i in form_2 %} {% if i.rg_id == 77 %} <span
                class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Transbaika");</script>
            {% endif %} {% endfor %}
        </div>
        <div class="Primorsky" title="Приморский край">
            <span class="name">Прим</span>
            {% for i in form_2 %} {% if i.rg_id == 79 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Primorsky");</script>
            {% endif %} {% endfor %}
        </div>
        <div class="Chukotka" title="Чукотский автономный округ">
            <span class="name">Чук</span>
            {% for i in form_2 %}
            {% if i.rg_id == 85 %}
            <span class="value">{{ i.value }}</span>
            <script>updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Chukotka");</script>
            {% endif %} {% endfor %}
        </div>
        <div class="Kamchatka">
            <span class="name">Кам</span>
            {% for i in form_2 %} {% if i.rg_id == 78 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Kamchatka"); </script>
            {% endif %} {% endfor %}
        </div>
        <div class="Kursk" title="Курская область">
            <span class="name">Кур</span>
            {% for i in form_2 %} {% if i.rg_id == 8 %} <span
                class="value">{{ i.value }}</span>
            <script>updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Kursk"); </script>
            {% endif %} {% endfor %}
        </div>
        <div class="Lipetsk" title="Липецкая область">
            <span class="name">Лип</span>
            {% for i in form_2 %} {% if i.rg_id == 9 %} <span
                class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Lipetsk");  </script>
            {% endif %} {% endfor %}
        </div>
        <div class="Tambov" title="Тамбовская область">
            <span class="name">Там</span>
            {% for i in form_2 %} {% if i.rg_id == 14 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Tambov"); </script>
            {% endif %} {% endfor %}
        </div>
        <div class="Penza" title="Пензенская область">
            <span class="name">Пен</span>
            {% for i in form_2 %} {% if i.rg_id == 55 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Penza"); </script>
            {% endif %} {% endfor %}
        </div>
        <div class="Saratov" title="Саратовская область">
            <span class="name">Сар</span>
            {% for i in form_2 %} {% if i.rg_id == 57 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Saratov");  </script>
            {% endif %} {% endfor %}
        </div>
        <div class="Orenburg" title="Оренбургская область">
            <span class="name">Оре</span>
            {% for i in form_2 %} {% if i.rg_id == 54 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Orenburg"); </script>
            {% endif %} {% endfor %}
        </div>
        <div class="Altai_K" title="Алтайский край">
            <span class="name">Алт</span>
            {% for i in form_2 %} {% if i.rg_id == 68 %} <span
                class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Altai_K"); </script>
            {% endif %} {% endfor %}
        </div>
        <div class="Belgorod" title="Белгородская область">
            <span class="name">Бел</span>
            {% for i in form_2 %} {% if i.rg_id == 1 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Belgorod");  </script>
            {% endif %} {% endfor %}
        </div>
        <div class="Voronezh" title="Воронежская область">
            <span class="name">Вор</span>
            {% for i in form_2 %} {% if i.rg_id == 4 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Voronezh"); </script>
            {% endif %} {% endfor %}
        </div>
        <div class="Volgograd" title="Волгоградская область">
            <span class="name">Вол</span>
            {% for i in form_2 %} {% if i.rg_id == 35 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Volgograd"); </script>
            {% endif %} {% endfor %}
        </div>
        <div class="Crimea" title="Республика Крым">
            <span class="name">Крым</span>
            {% for i in form_2 %} {% if i.rg_id == 32 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Crimea"); </script>
            {% endif %} {% endfor %}
        </div>
        <div class="Sevastopol" title="г. Севастополь">
            <span class="name">Сев</span>
            {% for i in form_2 %} {% if i.rg_id == 37 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Sevastopol"); </script>
            {% endif %} {% endfor %}
        </div>
        <div class="Adygea" title="Республика Адыгея">
            <span class="name">Ады</span>
            {% for i in form_2 %} {% if i.rg_id == 30 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Adygea");  </script>
            {% endif %} {% endfor %}
        </div>
        <div class="Krasnodar" title="Краснодарский край">
            <span class="name">Кра</span>
            {% for i in form_2 %} {% if i.rg_id == 33 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Krasnodar"); </script>
            {% endif %} {% endfor %}
        </div>
        <div class="Rostov" title="Ростовская область">
            <span class="name">Рос</span>
            {% for i in form_2 %} {% if i.rg_id == 36 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Rostov");</script>
            {% endif %} {% endfor %}
        </div>
        <div class="Kalmykia" title="Республика Калмыкия">
            <span class="name">Калмык</span>
            {% for i in form_2 %} {% if i.rg_id == 31 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Kalmykia"); </script>
            {% endif %} {% endfor %}
        </div>
        <div class="Astrakhan" title="Астраханская область">
            <span class="name">Аст</span>
            {% for i in form_2 %} {% if i.rg_id == 34 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Astrakhan");  </script>
            {% endif %} {% endfor %}
        </div>
        <div class="Karachayevo" title="Карачаево-Черкесская Республика">
            <span class="name">КЧР</span>
            {% for i in form_2 %} {% if i.rg_id == 41 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Karachayevo"); </script>
            {% endif %} {% endfor %}
        </div>
        <div class="Stavropol" title="Ставропольский край">
            <span class="name">Став</span> {% for i in form_2 %} {% if i.rg_id == 44 %} <span
                class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Stavropol"); </script>
            {% endif %} {% endfor %}
        </div>
        <div class="Chechen" title="Чеченская Республика">
            <span class="name">Чеч</span> {% for i in form_2 %} {% if i.rg_id == 43 %} <span
                class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Chechen"); </script>
            {% endif %} {% endfor %}
        </div>
        <div class="Dagestan" title="Республика Дагестан">
            <span class="name">Даг</span> {% for i in form_2 %} {% if i.rg_id == 38 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Dagestan"); </script>
            {% endif %} {% endfor %}
        </div>
        <div class="Kabardino" title="Кабардино-Балкарская Республика">
            <span class="name">КБР</span> {% for i in form_2 %} {% if i.rg_id == 40 %} <span
                class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Kabardino"); </script>
            {% endif %} {% endfor %}
        </div>
        <div class="Ossetia" title="Республика Северная Осетия — Алания">
            <span class="name">САО</span> {% for i in form_2 %} {% if i.rg_id == 42 %} <span
                class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Ossetia"); </script>
            {% endif %} {% endfor %}
        </div>
        <div class="Ingushetia" title="Республика Ингушетия">
            <span class="name">Инг</span> {% for i in form_2 %} {% if i.rg_id == 39 %} <span
                class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Ingushetia"); </script>
            {% endif %} {% endfor %}
        </div>
    </div>


    <div class="text">

        <p>Заболеваемость {{name_nz}} в Российской Федерации в {{current_year}} году составила
            {{rf_mrb}}
            на 100 тыс. населения, что в сравнении с СМП({{smp_rf}}) {{ud}}</p>
        <p>
            Наиболее высокая заболеваемость в {{current_year}} г. выявлена в:</p>
        <ol>
            {% for itm in top_reg_list %}
            {% for rg in tu %}
            {% if rg.id == itm[0] %}
            <li>{{rg.name_ru}} ({{(itm[1])}}, что в сравнении с СМП({{itm[2]}}) {{itm[3]}}));</li>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </ol>

    </div>
    <div class="top">

        <div class="up" title="Первые 5 регионов по заболеваемости">
            <div class="up_txt"></div>
            <div class="up_list">
                <ol>
                    {% for itm in top_reg %}
                    {% for rg in tu %}
                    {% if rg.id == itm[0] %}
                    <li>{{rg.name_ru}} ({{(itm[1])}});</li>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </ol>
            </div>
        </div>
        <div class="down" title="Последние 5 регионов по заболеваемости">
            <div class="down_txt"></div>
            <div class="down_list">
                <ol>
                    {% for itm in down_reg %}
                    {% for rg in tu %}
                    {% if rg.id == itm[0] %}
                    <li>{{rg.name_ru}} ({{(itm[1])}});</li>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>


{% endblock content %}