{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/tst.css') }}">
{% endblock head %}
{% block content %}


<div class="container">
    <div class="name_nz">
        <p class="name_nz"> {{name_nz}}</p>
    </div>
    <div class="input">
        <form action="{{ url_for('tst') }}" method="POST">
            <div class="nz">
                <select name="nz_id">
                    {% for nz_id, nz_name in nod %}
                    <option value="{{ nz_id }}">{{ nz_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class='input_year'>
                <input
                        type="number"
                        name="input_year_map"
                        min="{{min_year}}"
                        max="{{max_year}}" step="1"
                        value="{{ current_year }}"/>
            </div>
            <input
                    type="submit"
                    id="copyButton"
                    value="Ввести">
            <script>document.getElementById("copyButton").addEventListener("click", function() {
    var textToCopy = document.querySelector(".text").innerText;

    var textarea = document.createElement("textarea");
    textarea.value = textToCopy;
    document.body.appendChild(textarea);

    textarea.select();
    document.execCommand("copy");

    document.body.removeChild(textarea);

});

            </script>
        </form>
    </div>
    <div class="map_wrapper">
        <script>
				function updateColor(value, max_mrb, color, tag) {
				               <!--    alert(`Hello! ${value} ${max_mrb} ${color}  ${tag}`);-->
				                 let myElement = document.querySelector(tag);
				                 var percent = value / max_mrb;
				                 myElement.style.backgroundColor = `rgba(${color}, 0, 0, ${percent.toFixed(2)})`;
				               }
</script>
        <div class="MSK">
            <span class="name" title="г. Москва">МСК</span>
            {% for i in form_2 %}
            {% if i.rg_id == 18 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".MSK"); </script>
            {% endif %}
            {% endfor %}
        </div>

        <div class="Murmansk" title="Мурманская область">
            <span class="name">Мур</span>
            {% for i in form_2 %}
            {% if i.rg_id == 26 %}
            <span class="value">{{ i.value }}</span>
            <script>updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Murmansk");</script>
            {% endif %}
            {% endfor %}
        </div>

        <div class="SPB" title="г. Санкт-Петербург">
            {% for i in form_2 %}
            {% if i.rg_id == 29 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".SPB"); </script>
            {% endif %}
            {% endfor %}
        </div>

        <div class="Karelia" title="Республика Карелия">
            <span class="name">Кар</span>
            {% for i in form_2 %}
            {% if i.rg_id == 19 %}
            <span class="value">{{ i.value }}</span>
            <script>updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Karelia");</script>
            {% endif %}
            {% endfor %}

        </div>
        <div class="Nenets" title="Ненецкий автономный округ">
            <span class="name">Нен</span>
            {% for i in form_2 %}
            {% if i.rg_id == 22 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Nenets"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Len_obl" title="Ленинградская область">
            <span class="name">Лен</span>
            {% for i in form_2 %}
            {% if i.rg_id == 25 %}
            <span class="value">{{ i.value }}</span>
            <script>updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Len_obl");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Novgorod" title="Новгородская область">
            <span class="name">Нов</span>
            {% for i in form_2 %}
            {% if i.rg_id == 27 %}
            <span class="value">{{ i.value }}</span>
            <script>updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Novgorod");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Vologda" title="Вологодская область">
            <span class="name">Вол</span>
            {% for i in form_2 %}
            {% if i.rg_id == 23 %}
            <span class="value">{{ i.value }}</span>
            <script>updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Vologda");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Arkhangelsk" title="Архангельская область">
            <span class="name">Арх</span>
            {% for i in form_2 %}
            {% if i.rg_id == 21 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Arkhangelsk"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Komi" title="Республика Коми">
            <span class="name">Ком</span>
            {% for i in form_2 %}
            {% if i.rg_id == 20 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Komi"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Yamal">
            <span class="name">ЯНАО</span>
            {% for i in form_2 %}
            {% if i.rg_id == 63 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Yamal"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Krasnoyarsk"><span class="name">Красн</span>
            {% for i in form_2 %}
            {% if i.rg_id == 69 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Krasnoyarsk");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Yakutia"><span class="name">Яку</span>
            {% for i in form_2 %}
            {% if i.rg_id == 76 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Yakutia"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Magadan">
            <span class="name">Маг</span>
            {% for i in form_2 %}
            {% if i.rg_id == 82 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Magadan");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Kaliningrad" title="Калининградская область">
            {% for i in form_2 %}
            {% if i.rg_id == 24 %}
            <span class="name">Калин</span>
            <span class="value">{{ i.value }}</span>
            <script>updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Kaliningrad");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Pskov" title="Псковская область">
            <span class="name">Пск</span>
            {% for i in form_2 %}
            {% if i.rg_id == 28 %}
            <span class="value">{{ i.value }}</span>
            <script>updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Pskov");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Tver" title="Тверская область">
            <span class="name">Тве</span>
            {% for i in form_2 %}
            {% if i.rg_id == 15 %}
            <span class="value">{{ i.value }}</span>
            <script>updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Tver");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Yaroslavl" title="Ярославская область">
            <span class="name">Яро</span>
            {% for i in form_2 %}
            {% if i.rg_id == 17 %}
            <span class="value">{{ i.value }}</span>
            <script>updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Yaroslavl");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Ivanovo" title="Ивановская область">
            <span class="name">Ива</span>
            {% for i in form_2 %}
            {% if i.rg_id == 5 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Ivanovo");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Kostroma" title="Костромская область">
            <span class="name">Кос</span>
            {% for i in form_2 %}
            {% if i.rg_id == 7 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Kostroma");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Mariel" title="Республика Марий Эл">
            <span class="name">Мар</span>
            {% for i in form_2 %}
            {% if i.rg_id == 46 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Mariel"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Kirov" title="Кировская область">
            <span class="name">Кир</span>
            {% for i in form_2 %}
            {% if i.rg_id == 52 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Kirov"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Perm" title="Пермский край">
            <span class="name">Пер</span>
            {% for i in form_2 %}
            {% if i.rg_id == 51 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Perm"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Khanty" title="Ханты-Мансийский автономный округ — Югра">
            <span class="name">ХМАО</span>
            {% for i in form_2 %}
            {% if i.rg_id == 62 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Khanty"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Tyumen" title="Тюменская область">
            <span class="name">Тюм</span>
            {% for i in form_2 %}
            {% if i.rg_id == 61 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Tyumen");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Tomsk">
            <span class="name">Том</span>
            {% for i in form_2 %}
            {% if i.rg_id == 74 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Tomsk");  </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Kemerovo">
            <span class="name">Кем</span>
            {% for i in form_2 %}
            {% if i.rg_id == 71 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Kemerovo");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Irkutsk">
            <span class="name">Ирк</span>
            {% for i in form_2 %}
            {% if i.rg_id == 70 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Irkutsk");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Amur"><span class="name">Амур</span>
            {% for i in form_2 %}
            {% if i.rg_id == 67 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Amur");</script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Khabarovsk">
            <span class="name">Хаб</span>
            {% for i in form_2 %}
            {% if i.rg_id == 80 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Khabarovsk");>  </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Sakhalin">
            <span class="name">Сах</span>
            {% for i in form_2 %}
            {% if i.rg_id == 83 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Sakhalin"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Smolensk" title="Смоленская область">
            <span class="name">Смол</span>
            {% for i in form_2 %}
            {% if i.rg_id == 13 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Smolensk");  </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Kaluga" title="Калужская область">
            <span class="name">Кал</span>
            {% for i in form_2 %}
            {% if i.rg_id == 6 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Kaluga"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="MO">

        </div>
        <div class="Vladimir" title="Владимирская область">
            <span class="name">Вла</span>
            {% for i in form_2 %}
            {% if i.rg_id == 3 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Vladimir");  </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Nizhny" title="Нижегородская область">
            <span class="name">Ниж</span>
            {% for i in form_2 %}
            {% if i.rg_id == 53 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Nizhny"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Chuvash" title="Чувашская Республика">
            <span class="name">Чув</span>
            {% for i in form_2 %}
            {% if i.rg_id == 50 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Chuvash"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Tatarstan" title="Республика Татарстан">
            <span class="name">Тат</span>
            {% for i in form_2 %}
            {% if i.rg_id == 48 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Tatarstan"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Udmurtia" title="Удмуртская Республика">
            <span class="name">Удм</span>
            {% for i in form_2 %}
            {% if i.rg_id == 49 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Udmurtia"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Sverdlovsk" title="Свердловская область">
            <span class="name">Све</span>
            {% for i in form_2 %}
            {% if i.rg_id == 60 %}
            <span class="value">{{ i.value }}</span>
            <script> updateColor({{ i.value }}, {{ max_mrb }}, "{{ color }}", ".Sverdlovsk"); </script>
            {% endif %}
            {% endfor %}
        </div>
        <div class="Kurgan"></div>
        <div class="Novosibirsk"></div>
        <div class="Khakassia"></div>
        <div class="Buryatia"></div>
        <div class="Jewish"></div>
        <div class="Brynsk"></div>
        <div class="Orel"></div>
        <div class="Tula"></div>
        <div class="Ryazan"></div>
        <div class="Mordovia"></div>
        <div class="Ulyanovsk"></div>
        <div class="Samara"></div>
        <div class="Bashkortostan"></div>
        <div class="Chelyabinsk"></div>
        <div class="Omsk"></div>
        <div class="Altai_K"></div>
        <div class="Tuva"></div>
        <div class="Transbaika"></div>
        <div class="Primorsky"></div>
        <div class="Chukotka"></div>
        <div class="Kamchatka"></div>
        <div class="Kursk"></div>
        <div class="Lipetsk"></div>
        <div class="Tambov"></div>
        <div class="Penza"></div>
        <div class="Saratov"></div>
        <div class="Orenburg"></div>
        <div class="Altai"></div>
        <div class="Belgorod"></div>
        <div class="Voronezh"></div>
        <div class="Volgograd"></div>
        <div class="Crimea"></div>
        <div class="Adygea"></div>
        <div class="Krasnodar"></div>
        <div class="Rostov"></div>
        <div class="Kalmykia"></div>
        <div class="Astrakhan"></div>
        <div class="Karachayevo"></div>
        <div class="Stavropol"></div>
        <div class="Chechen"></div>
        <div class="Dagestan"></div>
        <div class="Kabardino"></div>
        <div class="Ossetia"></div>
        <div class="Ingushetia"></div>
    </div>




<div class="text">

    <p>Заболеваемость {{name_nz}} в Российской Федерации в {{current_year}} году составила
        {{rf_mrb}}
        на 100 тыс. населения, что в сравнении с СМП({{smp_rf}}) {{ud}}</p>
    <p>
        Наиболее высокая заболеваемость в {{current_year}} г. выявлена в:
    <ol>
        {% for itm in top_reg %}
        {% for rg in tu %}
        {% if rg.id == itm[0] %}
        <li>{{rg.name_ru}} ({{(itm[1])}});</li>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </ol>

</div>
<div class="top">
    <div class="up"></div>
    <div class="down"></div>
</div>
</div>


{% endblock content %}